<div fxLayout="row" fxLayoutAlign=" center">
    <div class="mat">
        <mat-accordion *ngFor="let item of serviceData; index as i">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nickname}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <p>address : {{item.address1}} {{item.adress2}}</p>

                <p>State : {{item.stateName.name}} </p>

                <p>City : {{item.cityName.name}} </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <form [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal">Book Service</h1>

        <div class="form-floating">
            <input formControlName="nickname" type="text" class="form-control">
            <label for="floatingPassword">Nickname</label>
            <span class="error" *ngIf="nickname && nickname.invalid && nickname.touched">Nickname is required</span>
        </div>

        <br>
        <div class="form-floating">
            <input formControlName="address1" type="text" class="form-control">
            <label for="floatingPassword">Address 1</label>
            <span class="error" *ngIf="address1 && address1.invalid && address1.touched">Address is required</span>
        </div>
        <br>
        <div class="form-floating">
            <input formControlName="address2" type="text" class="form-control">
            <label for="floatingPassword">Address2</label>
        </div>
        <br><br>

        <select class="custom-select" (change)="changeState($event)" formControlName="stateName">
            <option value="" disabled>Choose your State</option>
            <option *ngFor="let state of State" [ngValue]="state">{{state.name}}</option>

        </select>
        <span class="error" *ngIf="stateName && stateName.invalid && stateName.touched">Choose your state</span>

        <br><br>

        <select class="custom-select" (change)="changeCity($event)" formControlName="cityName">
            <option value="" disabled>Choose your city</option>
            <option *ngFor="let city of City" [ngValue]="city">{{city.name}}</option>
        </select>
        <span class="error" *ngIf="cityName && cityName.invalid && cityName.touched">Choose your city</span>
        <br><br>
        <div class="form-floating">
            <input formControlName="zip" type="text" class="form-control">
            <label for="floatingPassword">Zip</label>
        </div>

        <div class="form-floating">
            <input formControlName="ven" type="text" class="form-control">
            <label for="floatingPassword">Venue</label>
        </div>
        <div class="form-floating">


            <input type="datetime-local" formControlName="date" class="form-control">
        </div>
        <br><br>
        <button class="w-100 btn btn-lg btn-primary" (click)="AddForm()" type="button">Add More..</button><br /><br>
        <button class="w-100 btn btn-lg btn-primary" type="button" (click)="submit()">Book Service</button>



        <!-- <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nickname</th>
                    <th scope="col">Address1</th>
                    <th scope="col">Address2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of serviceData; index as i">
                    <th scope="row">{{ i + 1 }}</th>

                    <td>{{ item.nickname }}</td>
                    <td>{{ item.address1 }}</td>
                    <td>{{ item.address2 }}</td>


                </tr>
            </tbody>
        </table> -->
        <!-- <div formArrayName="formArr">
        <button class="w-100 btn btn-lg btn-primary" (click)="AddForm()" type="button">Add Service Details</button>
        <div class="form-group" *ngFor="let item of formArr; let i=index">
            
    <div class="form-floating">
        <input formControlName="nickname" type="text" class="form-control">
        <label for="floatingPassword">Nickname</label>
    </div>
    
    <div class="form-floating">
        <input formControlName="nickname" type="text" class="form-control">
        <label for="floatingPassword">address</label>
    </div>

        </div>
    </div> -->
    </form>
</div>